.site-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 22px;
    background: black;
    border-bottom: 1px solid #e4e7ec;
}

.site-footer-copyright {
    font-size: 12px;
    font-weight: 300;
    color: white;
}


.site-footer-image {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.site-footer-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.site-footer-space {
    margin: 0 5px;
    background-color: black;
    color: white;
    border: none;
}

/* Mobile */
@media (max-width: 600px) {
    .site-footer {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .site-footer-image {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .site-footer-contact {
        order: 2;
        width: 100%;
        justify-content: center;
        gap: 8px;
    }

    .site-footer-copyright {
        order: 3;
        width: 100%;
        text-align: center;
    }
}