.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 22px;
    background: black;
    border-bottom: 1px solid #e4e7ec;
}

.site-header-brand {
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.site-header-image {
    font-size: 18px;
    font-weight: 600;
    color: white;
    
}

.site-header-search {
    font-size: 12px;
    font-weight: 600;
    color: #111827;
}

.site-header-userAuth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: white;
    gap: 5px;
}

.site-header-image {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.site-header-login {
    font-size: 12px;
    color: white;
}

.site-header-shoppingcart {
    font-size: 18px;
    font-weight: 600;
    color: white;
}
