.cart-popup {
  position: fixed;
  top: 5px;
  right: 2px;
  padding: 12px;
  width: min(320px, 90vw);
  border: 1px solid grey;
  border-radius: 5px;
  background: white;
}

.cart-popup h1 {
  font-size: 15px;
  margin-left: 5px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
} 

