.cart-popup {
  position: fixed;
  top: 5px;
  right: 2px;
  width: min(320px, 90vw);
  border: 1px solid white;
  background: white;
}

.cart-popup h1 {
  font-size: 15px;
  margin-left: 5px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(84, 84, 224);
} 

.cart-body, .cart-bottom {
    margin-left: 10px;
    margin-top: 10px;
}

.cart-body {
    border-bottom: 1px solid #ccc;
}

.cart-bottom {
    display: flex;
    justify-content: center;
}

.continue-button {
    background-color: rgb(84, 84, 224);
    border-radius: 3px;
    color: white;
    width: 100%;
}