.edit-product-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.edit-product-frame {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.edit-product-img, .edit-product-name, .edit-product-price, .edit-product-stock-status, .edit-product-description {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

.edit-img-label, .edit-name-label, .edit-price-label, .edit-stock-label, .edit-description-label {
    min-width: 150px;
}

.edit-img-detail, .edit-name-detail, .edit-price-detail, .edit-stock-detail , .edit-description-detail {
    text-align: left;
    margin-left: 30px;
} 

.edit-img-detail {
    width: 200px;
    height: 200px;
}
