*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 2vw, 16px);
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  flex: 1;
  width: 100%;
  max-width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
}
